.hello-main {
    height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("/img/hello.jpg");
        background-size: 100% 100%;
}